* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #020008;
}
header {
  display: flex;
  background: linear-gradient(to right, #020008, #ffd901);
  height: 5rem;
  color: #fff;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
header .title {
  font-size: 2rem;
  font-weight: 700;
  margin: 20px;
}
header span a {
  font-weight: 400;
  font-style: italic;
  color: #f8f402;
  margin: 10px;
  text-decoration: none;
}
.starships-box {
  margin: 20px auto;
  background: #000000;
  max-width: 600px;
}
.ship {
  position: relative;
  display: flex;
  color: #ffffff;
  border: solid 1px #ffffff;
  margin: 10px;
  padding: 20px;
  justify-content: center;
  border-radius: 5px;
}
.ship button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  margin-left: 10px;
  align-self: flex-end;
  background: linear-gradient(to right, #ffd901, #ffffff);
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.ship button:hover {
  background: #ffd901;
}
.pilots {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 90vh;
  background: #000;
  z-index: 1;
  padding: 20px;
}
.hide {
  display: none;
}
.force {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.force .clip {
  font-size: 20px;
  background: linear-gradient(to right, #ffd901, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
  margin-bottom: 40px;
}
@media screen and (max-width: 520px) {
  .force {
    margin: 20px;
  }
  .force .clip {
    font-size: 16px;
    -webkit-box-reflect:unset;
  }
}
