* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  background: linear-gradient(to right, #090020, #47853f);
  height: 5rem;
  color: #fff;
  align-items: center;
}
header .title {
  font-size: 2rem;
  font-weight: 600;
  margin: 20px;
}
header span {
  font-weight: 400;
  font-style: italic;
  color: rgb(111, 248, 77);
}
.starships-box {
  margin: 2rem;
  background: #000000;
  max-width: 600px;
}
.ship {
  display: flex;
  color: #ffffff;
  border: solid 1px #ffffff;
  margin: 10px;
}
.ship button {
  cursor: pointer;
  margin-left: 10px;
}

.pilots {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 90vh;
  background: #000;
  z-index: 1;
}

.hide {
  display: none;
}
.btn-close {

}